*{
  padding:0;
  margin:0;
}

.container{
  width:100%;
}

.container__left{
  background-color: bisque;
}

.container__right{
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__App{
  display: flex;
  flex-direction: row;
}
.container__form{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__checkbox{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.label{
width: 100%;
text-align: left;
}


.input{
  width: 100%;
  padding:5px 3px;
  margin:10px 5px;
  border-radius: 3px;
  border:1px solid #555;
}
input:focus{
  border:1px solid #fff;
  outline-width: 1px;
  outline-style: solid;
  outline-color:#0eb3ff ;
}
.input__areaCode{
width:10%;
}

.input__phoneNumber{
  width: 80%;

}

.input__checkbox{
  margin:10px;
}


/* base button - Reusable */
.button{
  background-color: #444;
  color:#fff;
  font-size: 20px;
  padding: 5px 26px;
  border:1px solid #444;
  transition: 0.4s;
  cursor: pointer;
}

/* Signup button styling */
.button__signUp{
  width:100%;
}

.button__signUp:hover{
  background-color: #e8e8e8;
  border:1px solid #e8e8e8;
  color:lightgreen;

}

 
