*{
  padding:0;
  margin:0;
}

.title{
  width: 100%;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title h5{
  margin: 1rem 0px;
}

.container{
  width:100%;
}

.container__App{
  display: flex;
  flex-direction: row;
}
.container__left{
  width:100%;
}

.container__right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__form{
  width:60%;
  max-width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__form__inner{
  width:100%;
  max-width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__form__input{
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.container__checkbox{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items:unset;
}


.label{
width: 100%;
text-align: left;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

.label__space__between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input{
  width: 100%;
}

.input{
  padding:8px 0px;
  padding-left:5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border:1px solid #999;
  opacity: 0.5;
}

input:focus{
  border:1px solid #fff;
  outline-width: 1px;
  outline-style: solid;
  outline-color:#0eb3ff ;
}
.input__areaCode{
width:20%;
min-width:80px;
}

.input__phoneNumber{
  width:75%;
}

.input__checkbox{
  transform: scale(1.5);
  width:unset;
  margin:10px;
  opacity: 0.4;
  background-color: aqua;
}


/* base button - Reusable */
.button{
  background-color: #444;
  color:#fff;
  font-size: 20px;
  padding: 10px 30px;
  border:1px solid #444;
  transition: 0.4s;
  cursor: pointer;
}

/* Signup button styling */
.button__signUp{
  margin-top:20px;
  width:100%;
  font-size: 1rem;
}

.button__signUp:hover{
  background-color: #999;
  border:1px solid #999;
}

.button__show__toggle{
  background-color: #fff;
  border: none;
  color: #444;
}
 
img{
  width:100%;
  min-height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .container{
    width:90%;
  }

  .container__App{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.container__wrapper{
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .container__left{
  width: 100%;
}

 img{
   height:120px;
   width: 100%;
   padding: 0;
   margin: 0;
 }
  .container__form{
    width:90%;
  }
}



@media only screen and (max-width: 390px) {
.container__left{
  display: none;
}
}